/**
 * Created by yutao on 15/10/5.
 */
.item-photo
  width 216px !important

.frame-items-waterfall .grid-boxes-in
  width: 216px;

.frame-items-waterfall
  .grid-boxes-in
    padding 0
    margin-bottom 20px
  //border solid 1px #eee
  .grid-boxes-caption
    padding 5px 15px

.author-box
  padding-bottom 8px
  .author-avatar-link
    display inline-block
    overflow hidden
    -webkit-border-radius 12px
    -moz-border-radius 12px
    -ms-border-radius 12px
    border-radius 12px
    vertical-align middle
    margin-right 5px

.story-quote
  padding-left 0
  background url(http://img3.douban.com/f/dongxi/1b28e01bd3faf71bb88a6431e96ddae1f00f12b9/pics/dongxi/card_quotel_ie.png) no-repeat 0 5px
  background rgba(1,1,1,0) url(http://img3.douban.com/f/dongxi/3461d99714193831e173d6a395b5dc8e28981c3b/pics/dongxi/card_quotel.v1.svg) no-repeat 0 5px
  background-size 8px auto
  font-size 13px
  line-height 1.5
  color #333
  padding-bottom 0
//height 60px

.t-quote
  padding-left 10px
  padding-right 10px
  background url(http://img3.douban.com/f/dongxi/3a328b311ee673f2ec1118e20d440e16ba2fcb6a/pics/dongxi/card_quoter_ie.png) no-repeat right center
  background rgba(1,1,1,0) url(http://img3.douban.com/f/dongxi/ef9958c9fcfaa133c6bf5e8f2666516e89ab99d1/pics/dongxi/card_quoter.v1.svg) no-repeat right center
  background-size 8px auto



.answer-item-img-wrap
  width 150px
  height 150px
  overflow hidden
  float left

.answer-item-content-wrap
  margin-left 150px
  padding 10px
  min-height 150px
  position relative

.answer-item-wrap
  background whitesmoke
  border-top 1px solid #DDDDDD
  border-left 1px solid #DDDDDD
  border-bottom 1px solid #DDDDDD

.answer-footer
  position absolute
  bottom 5px
  span
    color gray

.answer-url
  position absolute
  bottom 10px
  right 15px

.answer-wrap
  border 1px solid #e7eaec
  background #fff
  margin-bottom 15px

.social-avatar
  padding 15px 15px 0 15px
  img
    height 40px
    width 40px
    margin-right 10px
  .media-body
    a
      font-size 14px
      display block

.social-comment
  margin-top 15px
  .social-comment
    margin-left 45px
  &:first-child
    margin-top 0
  textarea
    font-size 12px

.social-body
  padding 15px
  img
    margin-bottom 10px

.social-footer
  border-top 1px solid #e7eaec
  padding 10px 15px
  background #f9f9f9
  .social-comment
    img
      width 32px
      margin-right 10px

.tag-zone
  padding 5px 10px

.no-padding hr
  margin 10px 0
