.answer-outer-wrap
  padding-left: 60px !important
  .btn-group-vote
    position: absolute
    left: 0
    top: 0
    .btn-upvote
      small
        margin-top: 5px
        display block
  .item-info-wrap
    margin-top 0
