// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '../../../node_modules/normalize.css/normalize.css'

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

.teal-border-top
  border-top: 2px solid #1abc9c;

a
  color: #37a
  text-decoration: none !important

.main-container
  padding-top 20px

li
  list-style: none

[class^="icon-"], [class*=" icon-"]
  vertical-align middle

.header-v6 .navbar-nav li.active
  //background  #e74c3c
  a
    border-top: 3px solid #1abc9c
    background transparent

.header-v6 .navbar-nav li
  a
    border-top: 3px solid transparent

.header-fixed .header-v6.header-classic-white
  box-shadow: 0 0 3px #bbb;

//color white !important
//font-size 14px !important

.header-fixed .header-v6 .navbar-brand
  padding 10px;
  max-height: 70px;
  height: 70px
  line-height: 0
  border-top 3px solid transparent

.header-v6.header-white-transparent .navbar
  background: rgba(0, 0, 0, 0)

.header-v6 .navbar-nav > li > a
  padding: 20px;
  line-height: 30px;

.header-v6 li.menu-icons i.menu-icons-style
  line-height: 70px;

.header-fixed .header-v6.header-fixed-shrink
  .navbar-brand
    max-height 60px
    height 60px
  li.menu-icons i.menu-icons-style
    line-height: 50px
  .navbar-nav > li > a
    padding: 12px 20px 10px 20px
    line-height: 30px;

.header-v6 .secondary-nav
  background #e74c3c
  .nav-item
    //width: 20%
  a
    padding-top 5px !important
    padding-bottom 5px !important
    color: white !important

//padding 5px 30px 5px 30px !important

//.header-v6 .secondary-nav
//  display none
//
//.discover .header-v6 .secondary-nav
//  display block
//.header-v6.header-white-transparent.header-fixed-shrink .secondary-nav
//  display block

.header-v6 .main-nav a
  font-size 18px !important

//.header-v6 .secondary-nav .navbar-nav
//  float: left;
//.header-v6 .navbar-brand img.shrink-logo
//  display: block
.header-v6 a i
  margin-right: 5px

.header-v6.header-classic-white .secondary-nav .navbar-nav > li > a
  i
    vertical-align: middle

//padding-right 0

//.header-fixed .header-v6.header-classic-white.header-fixed-shrink .navbar-nav .active > a
//  color white !important

.header-fixed .header-v6.header-classic-white.header-fixed-shrink .navbar
  opacity 1

.menu-icons-style
  background transparent

.menu-icons-list
  margin-left 20px !important

.btn-weixin
  background #02b300

.btn-weibo
  background #E6162D

div.header-fixed-space
  padding-top: 70px

div.header-fixed-space.discover
  padding-top: 110px

.home-slider:after
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: " "

.col-centered
  float: none !important;
  margin: 0 auto;

.image-tagging .canvas-container
  position absolute !important

.login-btn
  margin-top 14px
  margin-left 30px

.user-nav
  img
    margin-top 15px
    margin-left 30px

.header-v6.header-white-transparent .user-nav-wrap
  display: none

.header-v6.header-fixed-shrink .user-nav-wrap
  display: inherit

//.navbar.mega-menu
//border-bottom: 1px solid #e8e8e8

.grow.grow-sm:hover
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
