.frame-main-view-wrap
  margin-top: 20px

.frame-header
  background white
  //border-bottom 1px solid #eee
  box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.1)
  .author-box
    padding 10px 12px
    .author-avatar-link
      margin-right 10px
    .item-header-btn
      margin-left 5px
  .frame-src-title
    a
      color #555

.frame-header-btn
  .btn
    padding 10px 0
    padding-left 5px
    font-size 13px
    color: #555;

.item-footer-wrap
  margin-top: 10px
  box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.1)

.frame-side-view
  box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.1)
  background white

.display-message {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: #767676;
  padding: 25px 15px;
  line-height: 1.5;
}


.social-avatar
  padding 15px 15px 0 15px
  img
    height 40px
    width 40px
    margin-right 10px
  .media-body
    a
      font-size 14px
      display block

.social-comment
  margin-top 15px
  .social-comment
    margin-left 45px
  &:first-child
    margin-top 0
  textarea
    font-size 12px

.social-body
  padding 15px
  img
    margin-bottom 10px

.social-footer
  border-top 1px solid #e7eaec
  padding 10px 15px
  background white
  .social-comment
    img
      width 32px
      margin-right 10px
