.item-header
  background white
  border-bottom 1px solid #eee
  //box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.1)
  .author-box
    padding 8px 12px
    .author-avatar-link
      margin-right 10px
    .item-header-btn
      margin-left 5px

.item-info-wrap
  background white
  //border-radius 6px
  overflow hidden
  box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.1)
  margin-bottom: 20px;

.item-img-wrap
  padding-left 0

.item-detail-wrap
  padding-top 10px
  padding-bottom 15px

.item-action-btn-wrap
  padding-top 20px
  padding-bottom 20px
  .btn
    margin-right 10px

.item-footer-wrap
  border-bottom 1px solid #e7eaec
  background #fff
  margin-bottom 15px

.poi-side-wrap
  background white
  box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.1)
  padding-top: 8px
  min-height 200px
